@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&family=Work+Sans:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

a {
    color: black;
}

span {
    color: red;
    font-weight: 700;
}

.resturant-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    gap: 30px;
}

.resturant-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.resturant-title h3,
p,
span {
    font-weight: lighter;
}

.resturant-title h2 {
    font-size: 2rem;
}

.rating {
    margin-top: 10px;
}

.rating span {
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    background-color: rgb(7, 159, 7);
}

.direction {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.direction div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(86, 85, 85, 0.541);
    padding: 5px;
    border-radius: 5px;
}

/* order section */
.order {
    margin: 0px 200px;
}

.order .nav .order-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-items {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.menu-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: -1;
}


.nav .order-items div {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: red;
    cursor: pointer;
}

.active {
    border-bottom: 3px solid red;
}

.order-items div:not(.active) {
    border-bottom: 2px solid rgba(86, 85, 85, 0.541);
    color: rgba(0, 0, 0, 0.574);

}


.menu-nav {
    padding: 10px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.menu-list {
    padding: 10px 40px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.heading input {
    padding-left: 5px;
    height: 35px;
    width: 250px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(86, 85, 85, 0.541);
}

.items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 25px;
}

.item-img img {
    width: 150px;
    border-radius: 5px;
}

.item-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-rating {
    color: rgb(255, 191, 0);
}

.menu-nav ul li {
    padding: 16px;
    background: -webkit-linear-gradient(180deg, rgba(222, 166, 166, 0.307) 0%, rgb(255, 255, 255) 100%);
    border-right: 2px solid red;
}

.menu-nav ul li:not(.active-menu) {
    background: #fff;
    border-right: 2px solid gray;
}

.reviews {
    margin: 0 100px;
}

.reviews h3 {
    font-size: 1.5rem;
    margin: 50px 0;
}

.reviewer {
    display: flex;
    align-items: center;
}

.rating {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
}

.rating span {
    width: 50px;
    background-color: rgb(255, 0, 0);
    padding: 4px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.rating span i {
    font-size: 15px;
}

.review-box {
    border-bottom: 1px solid rgb(219, 219, 219);
}

.review-options {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.large-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 30px;
}

.small-box {
    width: 230px;
    box-shadow: 0px 0px 1px rgb(160, 159, 159);
}

.small-box img {
    width: 100%;
    border-radius: 5px;
}

.photos h3 {
    font-size: 2rem;
    margin-top: 10px;
}

.photos button {
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgba(255, 0, 0, 0.815);
    color: #fff;
    margin-right: 10px;
}
